/*@import url("/usr/share/themes/Adwaita-maia-compact-dark/gnome-shell/gnome-shell.css");*/

*, stage, #panel {
}

/**********************
 * Top Bar *
 *********************/
#panel * {
}

#panel {
    padding: auto;
    font-size: .9em;
    height: 26px;
    background-color: #353535;
    border-radius: 11px;
}

#panelBox {
    padding-top: 0.5em;
    padding-right: 16px;
    padding-left: 16px;
    background: transparent;
}

#panel .panel-corner {
    -panel-corner-radius: 0;
}

#panel .popup-menu-arrow {
    width: 0;
}

#panel .panel-button.clock-display .clock {
    box-shadow: none;
}

#panel * {
    icon-shadow: none;
}

#panel .panel-button.clock-display:hover .clock {
    box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.2);
}

#panel .panel-button .panel-status-indicators-box {
    spacing: 25px;
}
#panel .panel-button .system-status-icon {
    padding-left: 0px;
    padding-right: 0px;
}

#panelLeft {
    padding-left: 8px;
}

.pop-shell-tab,
.pop-shell-tab-active,
.pop-shell-tab-urgent,
.pop-shell-tab-inactive { 
  border-radius: 11px;
  margin: 0 2px;
  font-weight: 700;
  color: #919191;
  background-color: #242424;
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
}

.pop-shell-tab.pop-shell-tab-active {
    color: #ffffff;
    background-color: #303030;
}

.pop-shell-tab .icon {
    width: 22px;
    height: 22px;
}

.pop-shell-tab .close-button {
    width: 0;
    height: 18px;
}


.pop-shell-tab:first-child {
    margin-left: 0;
}

.pop-shell-tab:last-child {
    margin-right: 0;
}

/* hide icon and close button*/
.pop-shell-tab ClutterActor:first-child {
    /* width: 0; */
}

@define-color maia #138a72;
@define-color border #cccccc;