/*@import url("/usr/share/themes/Adwaita-maia-compact-dark/gnome-shell/gnome-shell.css");*/

*, stage, #panel {
}

/**********************
 * Top Bar *
 *********************/
#panel * {
}

#panel {
    padding: auto;
    font-size: .9em;
    height: 32px;
    background-color: #353535;
    border-radius: 16px;
}

#panelBox {
    padding-top: 0.5em;
    padding-right: 1px;
    background: transparent;
}

#panel .panel-corner {
    -panel-corner-radius: 0;
}

#panel .popup-menu-arrow {
    width: 0;
}

#panel .panel-button.clock-display .clock {
    box-shadow: none;
}

#panel * {
    icon-shadow: none;
}

#panel .panel-button.clock-display:hover .clock {
    box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.2);
}

#panel .panel-button .panel-status-indicators-box {
    spacing: 25px;
}
#panel .panel-button .system-status-icon {
    padding-left: 0px;
    padding-right: 0px;
}

#panelLeft {
    padding-left: 0px;
}

.pop-shell-tab,
.pop-shell-tab-active,
.pop-shell-tab-urgent,
.pop-shell-tab-inactive { 
  border-radius: 12px 12px 0 0;
  margin: 0 12px;
}

@define-color maia #138a72;
@define-color border #cccccc;