@import url("/usr/share/themes/Adwaita-maia-compact-dark/gnome-shell/gnome-shell.css");

/* Change Font (if installed on system) */
*, stage, #panel {
    font-family: JetBrains Mono;
}

/**********************
 * Top Bar *
 *********************/
#panel * {
    font-weight: 400;
}

#panel {
    padding: auto;
    font-size: .9em;
    height: 32px;
    /* background-color: #353535; */
    background-color: transparent;
    /* border-radius: 8px; */
    border-radius: 0;
    /* text-shadow: rgba(0, 0, 0, 0.9) 0 2px 5px; */
    border-top: 1px solid #333333;
    /* box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.75); */
    /* border-color: #070707; */
    border-color: #cccccc;
    border-width: 0px;
    /* border-bottom-width: 1px; */
    width: 400px;
}

#panelBox {
    /* padding-top: 0.5em; */
    /* padding-left: 20em; */
    /* padding-right: 20em; */
    background: transparent;
}

#panel .panel-corner {
    -panel-corner-radius: 0;
}

#panel .popup-menu-arrow {
    width: 0;
}

/* square panel buttons */
#panel .panel-button,
#panel .panel-button.clock-display .clock {
    border-radius: 0;
}

/* panel underline */
#panel > * {
    border-color: #cccccc;
    border-width: 0;
    border-bottom-width: 1px;
}

#panel .panel-button.clock-display .clock {
    box-shadow: none;
}

#panel * {
    icon-shadow: none;
}

#panel .panel-button.clock-display:hover .clock {
    box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.2);
}

#panel .panel-button .panel-status-indicators-box {
    spacing: 25px;
}
#panel .panel-button .system-status-icon {
    padding-left: 0px;
    padding-right: 0px;
}

#panelLeft {
    padding-left: 22px;
}

.pop-shell-tab,
.pop-shell-tab-active,
.pop-shell-tab-urgent,
.pop-shell-tab-inactive { 
  border-radius: 10px 10px 0 0;
  margin: 0 10px;
}

@define-color maia #138a72;
@define-color border #cccccc;