@import url("/usr/share/themes/Adwaita-maia-compact-dark/gtk-3.0/gtk.css");

/* Remove Overshoot Effect */
scrolledwindow overshoot.top,
scrolledwindow overshoot.top:backdrop,
scrolledwindow overshoot.bottom,
scrolledwindow overshoot.bottom:backdrop,
scrolledwindow overshoot.left,
scrolledwindow overshoot.left:backdrop,
scrolledwindow overshoot.right,
scrolledwindow overshoot.right:backdrop {
  background-image: none;
}

/* Remove Border Radius */
/* Make Borders White */
.csd:not(.fullscreen) popover.background {
  border-radius: 0;
  border-color: #cccccc;
}

decoration {
  border-radius: 0;
  box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.5), 0 0 0 1px #cccccc;
}

decoration:backdrop {
  border-radius: 0;
  box-shadow: 0 3px 9px 1px transparent, 0 2px 6px 2px rgba(0, 0, 0, 0.2),
    0 0 0 1px #cccccc;
}

.maximized decoration,
.fullscreen decoration {
  border-radius: 0;
  box-shadow: none;
}

.ssd decoration {
  border-radius: 0;
  box-shadow: 0 0 0 1px #cccccc;
}

.ssd decoration:backdrop {
  border-radius: 0;
  box-shadow: 0 0 0 1px #cccccc;
}

.drop-shadow,
.drop-shadow decoration {
  border-radius: 0;
  box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.5), 0 0 0 1px #cccccc;
}

.csd.popup:not(.fullscreen) decoration {
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px #cccccc;
}

.tiled-top decoration,
.tiled-top decoration:backdrop {
  border-top: 0;
}

.tiled-right decoration,
.tiled-right decoration:backdrop {
  border-right: 0;
}

.tiled-bottom decoration,
.tiled-bottom decoration:backdrop {
  border-bottom: 0;
}

.tiled-left decoration,
.tiled-left decoration:backdrop {
  border-left: 0;
}

window.csd.unified:not(.solid-csd):not(.fullscreen):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized),
window.csd.unified:not(.solid-csd):not(.fullscreen):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized)
  > decoration,
window.csd.unified:not(.solid-csd):not(.fullscreen):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized)
  > decoration-overlay {
  border-radius: 0px;
}
